.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.heading {
    font-weight: 400;
    font-size: 30px;
    line-height: 110%;
    text-align: center;
}
.wrapper {
    border-radius: 40px;
    padding: 40px;
    width: 1840px;
    height: 239px;
    background-color: var(--third-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 35px;
    line-height: 110%;
    text-align: center;
    gap: 10px;
    transition: background-color 0.5s ease;
}
.errorWrapper {
    background-color: transparent;
    border: 2px solid var(--error-color);
}
.successWrapper {
    background-color: transparent;
    border: 2px solid var(--main-text-color);
}

.sentBtn {
    border-radius: 25px;
    padding: 15px 27px;
    width: 231px;
    height: 80px;
    background-color: var(--sent-btn-color);
}

.activeSentBtn {
    background-color: var(--active-btn-color);
    color: var(--main-text-color);
}
.dragOver {
    background-color: var(--upload-btn-color);
}
