header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin-bottom: 80px;
}
.logowrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 46px;
}
.logo {
    max-width: 268px;
    cursor: pointer;
}
.title {
    font-weight: 500;
    font-size: 30px;
    line-height: 90%;
    text-transform: uppercase;
    background-color: var(--second-bg-color);
    padding: 4px 6px 6px 6px;
}
ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}
li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-weight: 400;
    font-size: 30px;
    line-height: 110%;
    cursor: pointer;
    padding-bottom: 4px;
}
nav ul li a {
    text-decoration: none;
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 400;
    font-size: 30px;
    line-height: 110%;
    padding-bottom: 4px;
    cursor: pointer;
}

/* nav ul li a:hover,
nav ul li a:focus {

    color: var(--accent-color);
    outline: none;
    text-decoration: none;
}

nav ul li a:active {

    color: var(--main-text-color);
    text-decoration: none;
} */

.active {
    border-bottom: 2px solid var(--main-text-color);
}
